In [1]:
import math
import pandas as pd
import matplotlib.pyplot as plt
import plotly.express as px
import seaborn as sns
import numpy as np
import warnings

In [2]:
df = pd.read_csv("..\dataset_machine_learning.csv")

<>:1: SyntaxWarning: invalid escape sequence '\d'
<>:1: SyntaxWarning: invalid escape sequence '\d'
C:\Users\Consultant\AppData\Local\Temp\ipykernel_8744\1274419786.py:1: SyntaxWarning: invalid escape sequence '\d'
  df = pd.read_csv("..\dataset_machine_learning.csv")

In [3]:
df

,Unnamed: 0,date,price,bedrooms,bathrooms,sqm_living,sqm_lot,floors,waterfront,view,...,grade,yr_built,renovated,yr_renovated,zipcode,city,lat,long,sqm_living15,sqm_lot15
0,9596,2014-05-02,790000,3,2.50,241.55,441.29,1.0,False,0,...,9,1951,False,NaN,98117,Seattle,47.6833,-122.400,221.11,441.29
1,20602,2014-05-02,555000,4,2.50,307.51,603.87,2.0,False,0,...,8,2012,False,NaN,98065,Snoqualmie,47.5150,-121.870,221.11,464.52
2,11577,2014-05-02,440000,4,2.25,200.67,754.28,1.0,False,0,...,8,1966,False,NaN,98006,Bellevue,47.5443,-122.177,171.87,836.13
3,20559,2014-05-02,295000,2,2.50,151.43,127.09,2.0,False,0,...,7,2009,False,NaN,98106,Seattle,47.5489,-122.363,147.72,214.23
4,18690,2014-05-02,470000,5,2.50,205.32,896.98,1.0,False,0,...,8,1976,False,NaN,98011,Bothell,47.7698,-122.222,193.24,802.03
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19251,7898,2015-05-14,183000,3,1.00,108.70,680.05,1.0,False,0,...,7,1962,False,NaN,98188,Seattle,47.4685,-122.282,189.52,680.05
19252,928,2015-05-14,359000,2,2.75,127.28,105.91,2.0,False,0,...,8,2009,False,NaN,98133,Seattle,47.7052,-122.343,127.28,101.26
19253,5637,2015-05-15,450000,5,2.00,173.73,682.28,1.5,False,0,...,7,1960,False,NaN,98007,Bellevue,47.5951,-122.144,173.73,710.71
19254,13053,2015-05-24,445500,2,1.75,129.14,619.66,1.0,False,0,...,6,1941,False,NaN,98115,Seattle,47.6914,-122.308,85.47,592.72
19255,16594,2015-05-27,1310000,4,2.25,348.39,464.52,2.0,False,0,...,8,1924,False,NaN,98115,Seattle,47.6747,-122.303,201.60,426.42