# apartment-hunter

Data processing: cleaning, transforming, and making data suitable for analysis

In [79]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [80]:
df_kc = pd.read_csv('../data/kc_house_data.csv')
df_kc.head()

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7129300520,20141013T000000,221900.0,3,1.00,1180,5650,1.0,0,0,...,7,1180,0,1955,0,98178,47.5112,-122.257,1340,5650
1,6414100192,20141209T000000,538000.0,3,2.25,2570,7242,2.0,0,0,...,7,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639
2,5631500400,20150225T000000,180000.0,2,1.00,770,10000,1.0,0,0,...,6,770,0,1933,0,98028,47.7379,-122.233,2720,8062
3,2487200875,20141209T000000,604000.0,4,3.00,1960,5000,1.0,0,0,...,7,1050,910,1965,0,98136,47.5208,-122.393,1360,5000
4,1954400510,20150218T000000,510000.0,3,2.00,1680,8080,1.0,0,0,...,8,1680,0,1987,0,98074,47.6168,-122.045,1800,7503

In [81]:
# Conversion des colonnes de pieds carrés en mètres carrés
for col in ["sqft_living", "sqft_lot", "sqft_above", "sqft_basement", "sqft_living15", "sqft_lot15"]:
    df_kc[col] = df_kc[col] * 0.092903

df_kc["waterfront"] = df_kc["waterfront"].replace({
    1 : True, 
    0 : False
    })

df_kc["yr_renovated"] = df_kc["yr_renovated"].replace({
    0 : np.nan
    })

In [82]:
df_kc.shape

(21613, 21)

In [83]:
df_kc.columns

Index(['id', 'date', 'price', 'bedrooms', 'bathrooms', 'sqft_living',
       'sqft_lot', 'floors', 'waterfront', 'view', 'condition', 'grade',
       'sqft_above', 'sqft_basement', 'yr_built', 'yr_renovated', 'zipcode',
       'lat', 'long', 'sqft_living15', 'sqft_lot15'],
      dtype='object')

In [84]:
df_kc.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21613 entries, 0 to 21612
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   id             21613 non-null  int64
 1   date           21613 non-null  object
 2   price          21613 non-null  float64
 3   bedrooms       21613 non-null  int64
 4   bathrooms      21613 non-null  float64
 5   sqft_living    21613 non-null  float64
 6   sqft_lot       21613 non-null  float64
 7   floors         21613 non-null  float64
 8   waterfront     21613 non-null  bool
 9   view           21613 non-null  int64
 10  condition      21613 non-null  int64
 11  grade          21613 non-null  int64
 12  sqft_above     21613 non-null  float64
 13  sqft_basement  21613 non-null  float64
 14  yr_built       21613 non-null  int64
 15  yr_renovated   914 non-null    float64
 16  zipcode        21613 non-null  int64
 17  lat            21613 non-null  float64
 18  long           21613 non-null  float64
 19  sqft_living15  21613 non-null  float64
 20  sqft_lot15     21613 non-null  float64
dtypes: bool(1), float64(12), int64(7), object(1)
memory usage: 3.3+ MB

In [85]:
df_kc.describe()

,id,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,view,condition,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
count,2.161300e+04,2.161300e+04,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,914.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000
mean,4.580302e+09,5.400881e+05,3.370842,2.114757,193.228925,1403.482608,1.494309,0.234303,3.409430,7.656873,166.146860,27.082065,1971.005136,1995.827133,98077.939805,47.560053,-122.213896,184.556686,1186.227835
std,2.876566e+09,3.671272e+05,0.930062,0.770163,85.325915,3848.089781,0.539989,0.766318,0.650743,1.175459,76.932136,41.116549,29.373411,15.517107,53.505026,0.138564,0.140828,63.674908,2536.640200
min,1.000102e+06,7.500000e+04,0.000000,0.000000,26.941870,48.309560,1.000000,0.000000,1.000000,1.000000,26.941870,0.000000,1900.000000,1934.000000,98001.000000,47.155900,-122.519000,37.068297,60.479853
25%,2.123049e+09,3.219500e+05,3.000000,1.750000,132.572581,468.231120,1.000000,0.000000,3.000000,7.000000,110.554570,0.000000,1951.000000,1987.000000,98033.000000,47.471000,-122.328000,138.425470,473.805300
50%,3.904930e+09,4.500000e+05,3.000000,2.250000,177.444730,707.735054,1.500000,0.000000,3.000000,7.000000,144.928680,0.000000,1975.000000,2000.000000,98065.000000,47.571800,-122.230000,170.941520,707.920860
75%,7.308900e+09,6.450000e+05,4.000000,2.500000,236.902650,992.947264,2.000000,0.000000,4.000000,8.000000,205.315630,52.025680,1997.000000,2007.000000,98118.000000,47.678000,-122.125000,219.251080,936.740949
max,9.900000e+09,7.700000e+06,33.000000,8.000000,1257.906620,153416.205177,3.500000,4.000000,5.000000,13.000000,874.217230,447.792460,2015.000000,2015.000000,98199.000000,47.777600,-121.315000,576.927630,80937.093600

In [86]:
df_kc.describe(include='object')

                   date
count             21613
unique              372
top     20140623T000000
freq                142

In [87]:
df_kc.nunique()

id               21436
date               372
price             4028
bedrooms            13
bathrooms           30
sqft_living       1038
sqft_lot          9782
floors               6
waterfront           2
view                 5
condition            5
grade               12
sqft_above         946
sqft_basement      306
yr_built           116
yr_renovated        69
zipcode             70
lat               5034
long               752
sqft_living15      777
sqft_lot15        8689
dtype: int64